<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/totp.css">
  <title>Generate TOTP</title>
</head>

<body>
  <h1>TOTP Generator</h1>
  <form method="post">
    <input type="hidden" name="data_action" value="GENERATE KEY">
    <button type="submit">Generate Key</button>
  </form>
  {{ if .qrCode }}
  <h2>Secret Key</h2>
  <p id="genSecret">{{ .generateSecret }}</p>
  <h2>QR Code</h2>
  <img src="data:image/png;base64,{{ .qrCode }}" alt="QR code" id="img">
  <form method="post">
    <input type="hidden" name="data_action" value="GENERATE TOTP">
    <button type="submit" id="generateBtn">Generate TOTP</button>
  </form>
  {{ end }}
  
      {{ if .generateTOTP }}
      <h2>Secret Key</h2>
      <p>{{ .key }}</p>
      <h2>QR Code</h2>
      <img src="data:image/png;base64,{{ .qr }}" alt="QR code" id="imge">
      <h2>TOTP</h2>
      <p id="otp-input">{{ .generateTOTP }}</p>
      <div id="timer"></div>
      {{ end }}

      
     
  <h2>Validation</h2>
  <input type="text" id="totp">
  <p id="otp-status"></p>
  <button onclick="validateOTP()" data-action="validate" >Validate</button>
  
</body>
<script>
  
</script>
</html>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/static/js/totp.js"></script>

</html>